<!-- Replace your-device-ID-goes-here with your actual device ID
and replace your-access-token-goes-here with your actual access token-->
<center>
<br>
<br>
<br>
<form action="https://api.particle.io/v1/devices/53ff70066667574832462567/rgb?access_token=cabe55aa6ef427154509291685ac3d93bf9e7bbb" method="POST">
Send Your Love Over WiFi!<br>
<br>
<input type="radio" name="args" value="tay">Thinking about you.
<br><br>
<input type="radio" name="args" value="ilu">I Love You.
<br><br>
<input type="submit" value="Be Cute">
</form>
<form action="https://api.particle.io/v1/devices/53ff70066667574832462567/shb?access_token=cabe55aa6ef427154509291685ac3d93bf9e7bbb" method="POST">
<input type="radio" name="args" value="10">Chillin'
<br><br>
<input type="radio" name="args" value="5">Missing You
<br><br>
<input type="radio" name="args" value="1">You should be here
<br><br>
<input type="submit" value="Share Heart Beat">
</form>
</center>